<h1>Test Delayed Job</h1>
<p>
  <%= form_tag :delayed_job, method: :post do %>
    <%= label_tag :state, "Enter one of 'error' or 'success' to create a job that will fail or succeed" %>
    <%= text_field_tag :state %>
    <%= submit_tag %>
  <% end %>
</p>

<p>
  <img src="https://instrumentalapp.com/graphs/VEV6NURtVVFROC5nQ3ZMMFBZRWZLLlBRQ2Q0QTloZVNHUGdYZzBwNzg2QlZJWndyNWFBSm0/new.png?graph%5Bmetrics%5D%5B%5D=jobs.run&graph%5Bmetrics%5D%5B%5D=gauge_count%28jobs.run%29&id=new&project_id=1492&theme=dark&resolution=60&duration=3600&start=1500304974" />
</p>
