<h1>Make a request against example.com using Net::HTTP</h1>
<p>
  <%= form_tag :external_service, method: :post do %>
    <%= submit_tag "GET http://example.com/" %>
  <% end %>
</p>

<p>
  <img src="https://instrumentalapp.com/graphs/OGhVZnlNVTNFR1FxWkdHMU1LcFIyZUNMVTFXMVNCOWJoTVhrcWxiSndVeFc3UEl0eWo3Vk8/new.png?graph%5Bmetrics%5D%5B%5D=service.request&graph%5Bmetrics%5D%5B%5D=gauge_count%28service.request%29&id=new&project_id=1492&theme=dark&resolution=60&duration=3600" />
</p>
