<h1>Raise a StandardError and report to Honeybadger</h1>
<p>
  <%= form_tag :exceptions, method: :post do %>
    <%= submit_tag "Raise an exception!" %>
  <% end %>
</p>

<p>
  <img src="https://instrumentalapp.com/graphs/dVguNEd5b3lDS3NkMTAzbEJNU0NGdVNhMDVHa082elBnVlE3MzFKaDJCa3VQS3pxLi91V1c/11169.png?project_id=1492&theme=dark&resolution=60&duration=3600" />
</p>
